    <!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-3 text-center">
            <h1 class="display-3 text-white animated zoomIn">Gallery</h1>
            <a href="" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h4 text-white">About Us</a>
        </div>
        <div class="col-9 text-center">
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Pricing Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">            
            <div class="col-lg-8">
                <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/1/26.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/1/25.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/1/24.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/1/23.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/1/22.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/1/21.png")
                </div>
            </div>
            <div class="col-lg-8">
                <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/2/20.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/2/19.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/2/18.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/2/17.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/2/16.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/2/15.png")
                </div>
            </div>
            <div class="col-lg-8">
                <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/3/14.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/3/13.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/3/12.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/3/11.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/3/10.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/3/9.png")
                </div>
            </div>
            <div class="col-lg-8">
                <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/4/8.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/4/7.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/4/6.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/4/5.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/4/4.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/4/3.png")
                </div>
            </div>
            <div class="col-lg-8">
                <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/5/2.png")
                    @await Html.PartialAsync("_galleryItem", "/img/gallery/5/1.png")
                </div>
            </div>
        </div>
        
    </div>
    </div>
</div>
<!-- Pricing End -->