
@model string

<div class="price-item pb-4">
    <div class="position-relative">
        <img class="img-fluid rounded-top" src="@Model" alt="">
        @*  <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
        <h2 class="text-primary m-0">$35</h2>
        </div> *@
    </div>
    @* <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">

    </div> *@
</div>